In [0]:
import numpy as np
from pandas import Series

In [0]:
ser1 = Series([1,2,3,4,1,2,3,4])

In [6]:
ser1

0    1
1    2
2    3
3    4
4    1
5    2
6    3
7    4
dtype: int64

In [8]:
ser1.replace(1, np.nan) # 1をnullに置き換える

0    NaN
1    2.0
2    3.0
3    4.0
4    NaN
5    2.0
6    3.0
7    4.0
dtype: float64

In [9]:
ser1 # 元のデータはそのまま

0    1
1    2
2    3
3    4
4    1
5    2
6    3
7    4
dtype: int64

In [10]:
ser1.replace([1, 4], [100, 400]) # 複数の要素を指定して、一括で置換できる

0    100
1      2
2      3
3    400
4    100
5      2
6      3
7    400
dtype: int64

In [11]:
ser1.replace({4:np.nan}) # dictでパラメータを指定することもできる

0    1.0
1    2.0
2    3.0
3    NaN
4    1.0
5    2.0
6    3.0
7    NaN
dtype: float64