In [0]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [0]:
ser1 = Series([2,np.nan,4,np.nan,6,np.nan], index=['Q','R','S','T','U','V'])

In [3]:
ser1

Q    2.0
R    NaN
S    4.0
T    NaN
U    6.0
V    NaN
dtype: float64

In [0]:
ser2 = Series(np.arange(len(ser1), dtype=np.float64), index=['Q','R','S','T','U','V'])

In [5]:
ser2

Q    0.0
R    1.0
S    2.0
T    3.0
U    4.0
V    5.0
dtype: float64

In [6]:
np.where(pd.isnull(ser1)) # ser1で値がnanのindexが取得できる

(array([1, 3, 5]),)

In [11]:
np.where(pd.isnull(ser1), ser2, ser1) # ser1がnullであればser2の値を使用する

array([2., 1., 4., 3., 6., 5.])

In [12]:
ser1.combine_first(ser2) # ser1がnullであればser2の値を使用する

Q    2.0
R    1.0
S    4.0
T    3.0
U    6.0
V    5.0
dtype: float64

In [0]:
dframe_odds = DataFrame({'X':[1,np.nan,3,np.nan], 'Y':[np.nan,5,np.nan,7], 'Z':[np.nan,9,np.nan,11]})

In [14]:
dframe_odds

     X    Y     Z
0  1.0  NaN   NaN
1  NaN  5.0   9.0
2  3.0  NaN   NaN
3  NaN  7.0  11.0

In [0]:
dframe_evens = DataFrame({'X':[2,4, np.nan,6,8], 'Y':[np.nan,10,12,14,16]})

In [18]:
dframe_evens

     X     Y
0  2.0   NaN
1  4.0  10.0
2  NaN  12.0
3  6.0  14.0
4  8.0  16.0

In [19]:
dframe_odds.combine_first(dframe_evens) # dframe_odssがnullであればdframe_evensの値を使用する

     X     Y     Z
0  1.0   NaN   NaN
1  4.0   5.0   9.0
2  3.0  12.0   NaN
3  6.0   7.0  11.0
4  8.0  16.0   NaN