In [0]:
import pandas as pd

In [3]:
from google.colab import files
uploaded = files.upload()

Saving lec25.csv to lec25.csv

In [4]:
!cat lec25.csv

q,r,s,t,apple
2,3,4,5,pear
a,s,d,f,rabbit
5,2,5,7,dog

In [0]:
dframe = pd.read_csv('lec25.csv') # CSVファイルを読み込みんでDataFrameを作成する

In [6]:
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [0]:
dframe = pd.read_csv('lec25.csv', header=None) # 最初の行をヘッダとして扱わない

In [8]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [0]:
dframe = pd.read_table('lec25.csv', sep=',', header=None) # CSVファイル以外を読み込める

In [11]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [13]:
pd.read_csv('lec25.csv', header=None, nrows=2) # 読み込む行数を制限することができる

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [14]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [0]:
dframe.to_csv('mytestdata_out.csv') # DataFrameをCSVファイルとして出力する

In [16]:
!cat mytestdata_out.csv

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [17]:
import sys
dframe.to_csv(sys.stdout) # 標準出力に出力

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [18]:
dframe.to_csv(sys.stdout, sep='_') # 区切り文字を変えて出力もできる

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear
2_a_s_d_f_rabbit
3_5_2_5_7_dog

In [19]:
dframe.to_csv(sys.stdout, sep='\t')

	0	1	2	3	4
0	q	r	s	t	apple
1	2	3	4	5	pear
2	a	s	d	f	rabbit
3	5	2	5	7	dog

In [20]:
dframe.to_csv(sys.stdout, columns=[0,1,2]) # 出力する列を制限することができる

,0,1,2
0,q,r,s
1,2,3,4
2,a,s,d
3,5,2,5

In [21]:
dframe.to_csv(sys.stdout, columns=[2,1,0], sep='\t')

	2	1	0
0	s	r	q
1	4	3	2
2	d	s	a
3	5	2	5