In [0]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [0]:
ser1 = Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'])

In [3]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [0]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F']) # indexの付け替え

In [5]:
ser2 # ser1にないindexにはnullが入る

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [6]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [7]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value=0) # 元データにないindexに値を入れる

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [0]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0, 5, 10])

In [9]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [10]:
ser3.reindex(range(15), method='ffill') # ffill = forward fill

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [0]:
dframe = DataFrame(randn(25).reshape(5, 5), index=['A', 'B', 'D', 'E', 'F'], columns=['col1', 'col2', 'col3', 'col4', 'col5'])

In [12]:
dframe

       col1      col2      col3      col4      col5
A -1.221336  0.183877  1.189892 -0.408052  0.052667
B  0.432257 -0.295637  0.689035  1.015354  0.924933
D -0.839350 -1.095377  0.616904 -0.387035 -0.402798
E -0.552769  0.362409  1.074697 -1.058753 -1.509855
F -0.069730 -0.794521 -0.823606  0.267580 -0.485197

In [0]:
# 新しいindexでDataFrameを作成
new_index = ['A', 'B', 'C', 'D', 'E', 'F']
dframe2 = dframe.reindex(new_index)

In [14]:
dframe2

       col1      col2      col3      col4      col5
A -1.221336  0.183877  1.189892 -0.408052  0.052667
B  0.432257 -0.295637  0.689035  1.015354  0.924933
C       NaN       NaN       NaN       NaN       NaN
D -0.839350 -1.095377  0.616904 -0.387035 -0.402798
E -0.552769  0.362409  1.074697 -1.058753 -1.509855
F -0.069730 -0.794521 -0.823606  0.267580 -0.485197

In [15]:
# 新しいカラムでDataFrameを作成
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -1.221336  0.183877  1.189892 -0.408052  0.052667   NaN
B  0.432257 -0.295637  0.689035  1.015354  0.924933   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.839350 -1.095377  0.616904 -0.387035 -0.402798   NaN
E -0.552769  0.362409  1.074697 -1.058753 -1.509855   NaN
F -0.069730 -0.794521 -0.823606  0.267580 -0.485197   NaN

In [16]:
dframe

       col1      col2      col3      col4      col5
A -1.221336  0.183877  1.189892 -0.408052  0.052667
B  0.432257 -0.295637  0.689035  1.015354  0.924933
D -0.839350 -1.095377  0.616904 -0.387035 -0.402798
E -0.552769  0.362409  1.074697 -1.058753 -1.509855
F -0.069730 -0.794521 -0.823606  0.267580 -0.485197

In [30]:
# indexとcolumnsを指定して新しいDataFrameを作れるがWarningがでる
dframe.loc[new_index, new_columns]

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

       col1      col2      col3      col4      col5  col6
A -1.221336  0.183877  1.189892 -0.408052  0.052667   NaN
B  0.432257 -0.295637  0.689035  1.015354  0.924933   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.839350 -1.095377  0.616904 -0.387035 -0.402798   NaN
E -0.552769  0.362409  1.074697 -1.058753 -1.509855   NaN
F -0.069730 -0.794521 -0.823606  0.267580 -0.485197   NaN

In [31]:
# indexとcolumnsを指定して新しいDataFrameを作る場合は、こちらのほうがよさげ
dframe.reindex(index=new_index, columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -1.221336  0.183877  1.189892 -0.408052  0.052667   NaN
B  0.432257 -0.295637  0.689035  1.015354  0.924933   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.839350 -1.095377  0.616904 -0.387035 -0.402798   NaN
E -0.552769  0.362409  1.074697 -1.058753 -1.509855   NaN
F -0.069730 -0.794521 -0.823606  0.267580 -0.485197   NaN