In [0]:
import numpy as np
from pandas import DataFrame

In [0]:
dframe = DataFrame(np.arange(4*4).reshape((4,4)))

In [4]:
dframe

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [0]:
blender = np.array([0,3,2,1])

In [6]:
dframe.take(blender) # blenderで指定したindex順にデータを入れ替え

    0   1   2   3
0   0   1   2   3
3  12  13  14  15
2   8   9  10  11
1   4   5   6   7

In [0]:
blender = np.random.permutation(4) # blenderを乱数で作成する

In [10]:
blender

array([1, 0, 3, 2])

In [11]:
dframe.take(blender)

    0   1   2   3
1   4   5   6   7
0   0   1   2   3
3  12  13  14  15
2   8   9  10  11

In [0]:
box = np.array(['A','B','C'])

In [13]:
box

array(['A', 'B', 'C'], dtype='<U1')

In [0]:
shaker = np.random.randint(0,len(box), size=10) # 0-2の範囲の整数をランダムに10回取得する

In [15]:
shaker

array([2, 2, 2, 2, 0, 2, 2, 2, 1, 2])

In [0]:
hand_grabs = box.take(shaker) # numpyにもtakeがある。boxからshakerにしたがって要素を取得する

In [17]:
hand_grabs

array(['C', 'C', 'C', 'C', 'A', 'C', 'C', 'C', 'B', 'C'], dtype='<U1')

In [18]:
dframe.take(shaker)

   0  1   2   3
2  8  9  10  11
2  8  9  10  11
2  8  9  10  11
2  8  9  10  11
0  0  1   2   3
2  8  9  10  11
2  8  9  10  11
2  8  9  10  11
1  4  5   6   7
2  8  9  10  11