In [0]:
import pandas as pd
from pandas import Series

In [0]:
obj = Series([3, 6, 9, 12]) # PythonのlistからSeriesを作成

In [3]:
obj # listとの違いはindexがついている

0     3
1     6
2     9
3    12
dtype: int64

In [4]:
obj.values # Seriesのデータだけを取り出す

array([ 3,  6,  9, 12])

In [5]:
obj.index # Seriesのindexだけを取り出す

RangeIndex(start=0, stop=4, step=1)

In [0]:
ww2_cas = Series([8700000, 4300000, 3000000, 2100000, 400000], index=['USSR', 'Germany', 'China', 'Japan', 'USA']) # 第二次世界大戦における死傷者数

In [7]:
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [8]:
ww2_cas['USA'] # indexを指定してデータにアクセス

400000

In [9]:
ww2_cas[ww2_cas>4000000] # 条件に合致するデータだけを取得する

USSR       8700000
Germany    4300000
dtype: int64

In [10]:
ww2_cas>4000000 # 上記条件部

USSR        True
Germany     True
China      False
Japan      False
USA        False
dtype: bool

In [11]:
'USSR' in ww2_cas # Pythonのdictと同じような使い方もできる

True

In [0]:
ww2_dict = ww2_cas.to_dict() # SeriesからPythonのdictを作成することもできる

In [13]:
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [0]:
ww2_Series = Series(ww2_dict) # PythonのdictからSeriesを作成することもできる

In [15]:
ww2_Series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [0]:
countries = ['China', 'Germany', 'Japan', 'USA', 'USSR', 'Argentina']

In [0]:
obj2 = Series(ww2_dict, index=countries) # 任意のindexを指定してSeriesを作成することもできる

In [18]:
obj2 # 元のデータとindexが一致しない場合は、null(NaN)となる

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [19]:
pd.isnull(obj2) # Pandasの機能でnullチェックを行う

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [20]:
pd.notnull(obj2) # Pandasの機能でnot nullチェックを行う

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [21]:
ww2_Series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [22]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [23]:
ww2_Series + obj2 # 2つのSeriesを足す。indexが一致しているものが足される。

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [0]:
obj2.name = '第二次世界大戦の死傷者' # Series全体に名前をつけることができる

In [25]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: 第二次世界大戦の死傷者, dtype: float64

In [0]:
obj2.index.name = 'Countries' # indexに名前をつけることができる

In [27]:
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: 第二次世界大戦の死傷者, dtype: float64

In [29]:
obj2.values.name = 'Person number' # valuesには名前がつけられない

AttributeError: ignored

In [30]:
obj2.T

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: 第二次世界大戦の死傷者, dtype: float64