In [0]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
# DataFrameはクリップボードの情報から作成することもできる(colaboratoryでは実行できない)
nfl_frame = pd.read_clipboard()

PyperclipException: ignored

In [0]:
nfl_frame = DataFrame([['1', 'Dallas Cowboys', '914', '520', '388', '6', '.572', '1960', 'NFC East'], ['2', 'Green Bay Packers', '1,368', '756', '574', '38', '.567', '1921', 'NFC North'], ['3', 'New England Patriots', '916', '512', '395', '9', '.564', '1960', 'AFC East'], ['4', 'Chicago Bears', '1,402', '769', '591', '42', '.563', '1920', 'NFC North'], ['5', 'Baltimore Ravens', '384', '214', '169', '1', '.559', '1996', 'AFC North'], ['6', 'Miami Dolphins', '832', '457', '371', '4', '.552', '1966', 'AFC East']], columns=['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season', 'Division'])

In [17]:
nfl_frame

  Rank                  Team     GP  Won  ... Tied  Pct. First NFL Season   Division
0    1        Dallas Cowboys    914  520  ...    6  .572             1960   NFC East
1    2     Green Bay Packers  1,368  756  ...   38  .567             1921  NFC North
2    3  New England Patriots    916  512  ...    9  .564             1960   AFC East
3    4         Chicago Bears  1,402  769  ...   42  .563             1920  NFC North
4    5      Baltimore Ravens    384  214  ...    1  .559             1996  AFC North
5    6        Miami Dolphins    832  457  ...    4  .552             1966   AFC East

[6 rows x 9 columns]

In [18]:
nfl_frame.columns # 列名

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Division'],
      dtype='object')

In [20]:
nfl_frame['First NFL Season'] # 列を指定してデータにアクセス

0    1960
1    1921
2    1960
3    1920
4    1996
5    1966
Name: First NFL Season, dtype: object

In [21]:
nfl_frame.Team # .でアクセス

0          Dallas Cowboys
1       Green Bay Packers
2    New England Patriots
3           Chicago Bears
4        Baltimore Ravens
5          Miami Dolphins
Name: Team, dtype: object

In [23]:
nfl_frame[['Team', 'First NFL Season']] # 複数の列にアクセスするためにはlistで列名を指定

                   Team First NFL Season
0        Dallas Cowboys             1960
1     Green Bay Packers             1921
2  New England Patriots             1960
3         Chicago Bears             1920
4      Baltimore Ravens             1996
5        Miami Dolphins             1966

In [24]:
DataFrame(nfl_frame, columns=['Team', 'First NFL Season']) # 新しいDataFrameを作成する

                   Team First NFL Season
0        Dallas Cowboys             1960
1     Green Bay Packers             1921
2  New England Patriots             1960
3         Chicago Bears             1920
4      Baltimore Ravens             1996
5        Miami Dolphins             1966

In [25]:
DataFrame(nfl_frame, columns=['Team', 'First NFL Season', 'Stadium']) # 存在しないカラムをしていするとnull値が入る

                   Team First NFL Season  Stadium
0        Dallas Cowboys             1960      NaN
1     Green Bay Packers             1921      NaN
2  New England Patriots             1960      NaN
3         Chicago Bears             1920      NaN
4      Baltimore Ravens             1996      NaN
5        Miami Dolphins             1966      NaN

In [26]:
nfl_frame.head() # 先頭の5行を取得

  Rank                  Team     GP  Won  ... Tied  Pct. First NFL Season   Division
0    1        Dallas Cowboys    914  520  ...    6  .572             1960   NFC East
1    2     Green Bay Packers  1,368  756  ...   38  .567             1921  NFC North
2    3  New England Patriots    916  512  ...    9  .564             1960   AFC East
3    4         Chicago Bears  1,402  769  ...   42  .563             1920  NFC North
4    5      Baltimore Ravens    384  214  ...    1  .559             1996  AFC North

[5 rows x 9 columns]

In [27]:
nfl_frame.head(3) # 行数を指定も可能

  Rank                  Team     GP  Won  ... Tied  Pct. First NFL Season   Division
0    1        Dallas Cowboys    914  520  ...    6  .572             1960   NFC East
1    2     Green Bay Packers  1,368  756  ...   38  .567             1921  NFC North
2    3  New England Patriots    916  512  ...    9  .564             1960   AFC East

[3 rows x 9 columns]

In [28]:
nfl_frame.tail() # 最後の5行を取得

  Rank                  Team     GP  Won  ... Tied  Pct. First NFL Season   Division
1    2     Green Bay Packers  1,368  756  ...   38  .567             1921  NFC North
2    3  New England Patriots    916  512  ...    9  .564             1960   AFC East
3    4         Chicago Bears  1,402  769  ...   42  .563             1920  NFC North
4    5      Baltimore Ravens    384  214  ...    1  .559             1996  AFC North
5    6        Miami Dolphins    832  457  ...    4  .552             1966   AFC East

[5 rows x 9 columns]

In [29]:
nfl_frame.tail(3) # 行数を指定も可能

  Rank              Team     GP  Won  ... Tied  Pct. First NFL Season   Division
3    4     Chicago Bears  1,402  769  ...   42  .563             1920  NFC North
4    5  Baltimore Ravens    384  214  ...    1  .559             1996  AFC North
5    6    Miami Dolphins    832  457  ...    4  .552             1966   AFC East

[3 rows x 9 columns]

In [31]:
nfl_frame.loc[3] # loc関数で行にアクセスできる。 ixは廃止予定

Rank                            4
Team                Chicago Bears
GP                          1,402
Won                           769
Lost                          591
Tied                           42
Pct.                         .563
First NFL Season             1920
Division                NFC North
Name: 3, dtype: object

In [0]:
nfl_frame['Stadium'] = "Levi's Stadium" # 列全体にデータを入れる

In [33]:
nfl_frame

  Rank                  Team     GP  ... First NFL Season   Division         Stadium
0    1        Dallas Cowboys    914  ...             1960   NFC East  Levi's Stadium
1    2     Green Bay Packers  1,368  ...             1921  NFC North  Levi's Stadium
2    3  New England Patriots    916  ...             1960   AFC East  Levi's Stadium
3    4         Chicago Bears  1,402  ...             1920  NFC North  Levi's Stadium
4    5      Baltimore Ravens    384  ...             1996  AFC North  Levi's Stadium
5    6        Miami Dolphins    832  ...             1966   AFC East  Levi's Stadium

[6 rows x 10 columns]

In [0]:
nfl_frame['Stadium'] = np.arange(6) # arrayを流し込むこともできる

In [35]:
nfl_frame

  Rank                  Team     GP  ... First NFL Season   Division Stadium
0    1        Dallas Cowboys    914  ...             1960   NFC East       0
1    2     Green Bay Packers  1,368  ...             1921  NFC North       1
2    3  New England Patriots    916  ...             1960   AFC East       2
3    4         Chicago Bears  1,402  ...             1920  NFC North       3
4    5      Baltimore Ravens    384  ...             1996  AFC North       4
5    6        Miami Dolphins    832  ...             1966   AFC East       5

[6 rows x 10 columns]

In [0]:
stadiums = Series(["Livi's stadium", 'AT&T Stadium'], index=[4, 0])

In [37]:
stadiums

4    Livi's stadium
0      AT&T Stadium
dtype: object

In [0]:
nfl_frame['Stadium'] = stadiums # Seriesからデータを流し込むことができる

In [39]:
nfl_frame # indexが一致するレコードのみ値が入る

  Rank                  Team     GP  ... First NFL Season   Division         Stadium
0    1        Dallas Cowboys    914  ...             1960   NFC East    AT&T Stadium
1    2     Green Bay Packers  1,368  ...             1921  NFC North             NaN
2    3  New England Patriots    916  ...             1960   AFC East             NaN
3    4         Chicago Bears  1,402  ...             1920  NFC North             NaN
4    5      Baltimore Ravens    384  ...             1996  AFC North  Livi's stadium
5    6        Miami Dolphins    832  ...             1966   AFC East             NaN

[6 rows x 10 columns]

In [0]:
del nfl_frame['Stadium'] # 列を削除する

In [41]:
nfl_frame

  Rank                  Team     GP  Won  ... Tied  Pct. First NFL Season   Division
0    1        Dallas Cowboys    914  520  ...    6  .572             1960   NFC East
1    2     Green Bay Packers  1,368  756  ...   38  .567             1921  NFC North
2    3  New England Patriots    916  512  ...    9  .564             1960   AFC East
3    4         Chicago Bears  1,402  769  ...   42  .563             1920  NFC North
4    5      Baltimore Ravens    384  214  ...    1  .559             1996  AFC North
5    6        Miami Dolphins    832  457  ...    4  .552             1966   AFC East

[6 rows x 9 columns]

In [0]:
data = {'City':['SF', 'LA', 'NYC'], 'Population': [837000, 3880000, 8400000]}

In [48]:
data

{'City': ['SF', 'LA', 'NYC'], 'Population': [837000, 3880000, 8400000]}

In [0]:
city_frame = DataFrame(data) # PythonのdictからDataFrameを作成することもできる

In [50]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000

In [0]:
city_frame.loc[3] = ['Tokyo', 100000] # listで行を追加

In [52]:
city_frame

    City  Population
0     SF      837000
1     LA     3880000
2    NYC     8400000
3  Tokyo      100000

In [0]:
city_frame.loc[4] = {'City': 'Kyoto', 'Population': 2000} # dictで行を追加

In [61]:
city_frame

    City Population
0     SF     837000
1     LA   3.88e+06
2    NYC    8.4e+06
3  Tokyo     100000
4  Kyoto       2000

In [64]:
city_frame.loc[5] = Series(['Fukuoka', 10000], index=[5]) # Seriesで行追加はできない臭い

ValueError: ignored