In [0]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [0]:
ser1 = Series(np.arange(3), index=['A', 'B', 'C'])

In [0]:
ser1 = 2 * ser1

In [4]:
ser1

A    0
B    2
C    4
dtype: int64

In [5]:
ser1['B'] # indexを使ってSeriesのデータにアクセス

2

In [6]:
ser1[1] # 添字を使ってアクセス

2

In [7]:
ser1[0:3] # Sliceを使ってアクセス

A    0
B    2
C    4
dtype: int64

In [8]:
ser1[['A', 'B']] # 複数のindexを指定してアクセス

A    0
B    2
dtype: int64

In [9]:
ser1[ser1>3] # 条件を指定してアクセス

C    4
dtype: int64

In [0]:
ser1[ser1>3] = 10 # 条件にあった部分だけ更新

In [11]:
ser1

A     0
B     2
C    10
dtype: int64

In [0]:
dframe = DataFrame(np.arange(25).reshape((5, 5)), index=['NYC', 'LA', 'SF', 'DC', 'CHI'], columns=['A', 'B', 'C', 'D', 'E'])

In [13]:
dframe

      A   B   C   D   E
NYC   0   1   2   3   4
LA    5   6   7   8   9
SF   10  11  12  13  14
DC   15  16  17  18  19
CHI  20  21  22  23  24

In [14]:
dframe['B'] # 列を指定してアクセス

NYC     1
LA      6
SF     11
DC     16
CHI    21
Name: B, dtype: int64

In [15]:
dframe[['B', 'C']] # 複数の列を指定してアクセス

      B   C
NYC   1   2
LA    6   7
SF   11  12
DC   16  17
CHI  21  22

In [16]:
dframe[dframe['C']>8] # 列の条件を指定してアクセス

      A   B   C   D   E
SF   10  11  12  13  14
DC   15  16  17  18  19
CHI  20  21  22  23  24

In [17]:
dframe>10

         A      B      C      D      E
NYC  False  False  False  False  False
LA   False  False  False  False  False
SF   False   True   True   True   True
DC    True   True   True   True   True
CHI   True   True   True   True   True

In [18]:
dframe.loc['LA'] # 行を指定してアクセス

A    5
B    6
C    7
D    8
E    9
Name: LA, dtype: int64

In [19]:
dframe.iloc[1] # 添字を指定してアクセス

A    5
B    6
C    7
D    8
E    9
Name: LA, dtype: int64