In [0]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

from numpy.random import randn

In [0]:
ser = Series(randn(6), index=[[1,1,1,2,2,2],['a','b','c','a','b','c']]) # indexを階層構造にしたSeriesを作成する

In [3]:
ser

1  a   -1.463164
   b    0.855005
   c    0.338309
2  a   -0.519158
   b   -0.766666
   c    1.127702
dtype: float64

In [4]:
ser.index

MultiIndex([(1, 'a'),
            (1, 'b'),
            (1, 'c'),
            (2, 'a'),
            (2, 'b'),
            (2, 'c')],
           )

In [5]:
ser[1] # 第1階層index=1のデータを取得

a   -1.463164
b    0.855005
c    0.338309
dtype: float64

In [6]:
ser[2] # 第1階層index=2のデータを取得

a   -0.519158
b   -0.766666
c    1.127702
dtype: float64

In [7]:
ser[:, 'a'] # 第2階層index='a'のデータを取得

1   -1.463164
2   -0.519158
dtype: float64

In [0]:
dframe = ser.unstack() # 階層化されたSeriesからDataFrameを作成

In [9]:
dframe

          a         b         c
1 -1.463164  0.855005  0.338309
2 -0.519158 -0.766666  1.127702

In [10]:
dframe.unstack() # DataFrameから階層化されたSeriesを作成

a  1   -1.463164
   2   -0.519158
b  1    0.855005
   2   -0.766666
c  1    0.338309
   2    1.127702
dtype: float64

In [12]:
dframe.T.unstack() # 転置したDataFrameから階層化されたSeriesを作成。元のSeriesに戻る

1  a   -1.463164
   b    0.855005
   c    0.338309
2  a   -0.519158
   b   -0.766666
   c    1.127702
dtype: float64

In [13]:
ser

1  a   -1.463164
   b    0.855005
   c    0.338309
2  a   -0.519158
   b   -0.766666
   c    1.127702
dtype: float64

In [0]:
dframe2 = DataFrame(np.arange(16).reshape((4,4)), index=[['a', 'a', 'b','b'],[1,2,1,2]], columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])

In [15]:
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [0]:
dframe2.index.names = ['INDEX_1', 'INDEX_2'] # indexに名前をつける

In [19]:
dframe2

                  NY      LA   SF
                cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [0]:
dframe2.columns.names = ['Cities','Temp'] # columnsに名前をつける

In [21]:
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [25]:
dframe2.swaplevel('Cities', 'Temp', axis=1) # 階層化されたColumnsを入れ替える

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [26]:
dframe2.swaplevel('INDEX_1', 'INDEX_2', axis=0) # 階層化されたindexを入れ替える

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_2 INDEX_1
1       a          0   1   2    3
2       a          4   5   6    7
1       b          8   9  10   11
2       b         12  13  14   15

In [29]:
dframe2.sort_index(level=1) # 階層2のindexでソートする

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [30]:
dframe2.sort_index(level=1).sort_index(level=0) # 階層2のindex->階層1のindexでソートする（元にもどる）

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [31]:
dframe2.sum(level='Temp', axis=1) # index=Tempだけを見て行ごとの合計を算出する

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27

In [33]:
dframe2.sum(level='INDEX_2', axis=0) # index=INDEX_2だけを見て列ごとの合計を算出する

Cities    NY      LA   SF
Temp    cold hot hot cold
INDEX_2
1          8  10  12   14
2         16  18  20   22